$fontColor: #191919;
$formBackgroundColor: #fff;
$borderColor: #808080;
$footerFontColor: #4b4a4a;

@import url("https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro");

@mixin rowBoxInput {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $borderColor;
}

@mixin breakpoint($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 525px) {
            @content;
        }
    }

    @if $breakpoint==tablet {
        @media (max-width: 968px) {
            @content;
        }
    }
}

@mixin breakpointPhone {
    display: block;
    width: 100%;
    text-align: left;
}

@mixin breakpointTablet {
    width: 200px;
    height: 30px;
}

html,
body,
div,
h1,
p,
img,
ul,
li,
footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    color: $fontColor;
    min-width: 320px;
    text-align: center;
    background: url("../background-photo-unsplash.jpg") no-repeat;
}

.main {
    width: 75%;
    max-width: 900px;
    margin: 0 auto;

    @include breakpoint(tablet) {
        width: 85%;
    }
}

.survey-form {
    background: $formBackgroundColor;
    margin: 20px 0px;
    padding: 0 60px;
    box-shadow: 1px 1px 3px 1px $borderColor;

    &__title {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 2.25rem;
        font-weight: 900;
        padding-top: 30px;
    }

    &__description {
        padding-top: 10px;
    }

    @include breakpoint(phone) {
        @include breakpointPhone;
    }
}

.row {
    margin: 40px 0;

    &__label {
        display: inline-block;
        text-align: right;
        width: 40%;
        padding-right: 15px;
        vertical-align: middle;

        @include breakpoint(phone) {
            @include breakpointPhone;
        }
    }

    &__box {
        display: inline-block;
        width: 48%;
        text-align: left;

        &__name {
            @include rowBoxInput;

            @include breakpoint(tablet) {
                @include breakpointTablet;
            }
        }

        &__email {
            @include rowBoxInput;

            @include breakpoint(tablet) {
                @include breakpointTablet;
            }
        }

        &__number {
            @include rowBoxInput;

            @include breakpoint(tablet) {
                @include breakpointTablet;
            }
        }

        &__dropdown {
            width: 300px;
            height: 30px;
            border-radius: 3px;
            border: 1px solid $borderColor;

            @include breakpoint(tablet) {
                @include breakpointTablet;
            }
        }

        &-radio-button {
            float: left;
            margin-right: 5px;
        }

        &-checkbox {
            float: left;
            margin-right: 5px;
        }

        &__comments {
            width: 300px;
            height: 100px;
            border-radius: 3px;
            border: 1px solid $borderColor;
            vertical-align: top;
            padding: 5px 0 0 5px;

            @include breakpoint(tablet) {
                width: 200px;
                height: 100px;
            }
        }

        @include breakpoint(phone) {
            @include breakpointPhone;
            padding-top: 10px;
        }
    }

    &__select-box {
        vertical-align: top;
    }

    @include breakpoint(phone) {
        @include breakpointPhone;
    }
}

input[type="radio"i] {
    display: block;
}

input[type="checkbox"i] {
    display: block;
}

input[placeholder] {
    padding-left: 5px;
}

.btn-submit {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 10px 25px;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px $borderColor;

    &:hover {
        font-weight: 700;
        background: $formBackgroundColor;
        box-shadow: 1px 1px 3px 0px $borderColor;
    }
}

.footer {
    color: $footerFontColor;
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 10px;
}