// Mixins
@import "_mixins";

// Reset

* {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

li,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  cursor: pointer;
  text-decoration: var(--global--link--TextDecoration);
  transition: var(--global--link--transition);
}

body {
  font-family: var(--global--sans-serif--paragraph--FontFamily);
  font-size: var(--global--body--FontSize);
  font-weight: var(--global--normal--FontWeight);
  line-height: var(--global--sm--LineHeight);
  color: var(--global--light--Color);
  font-size: 100%;
  background-color: var(--global--dark--BackgroundColor);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.wrapper {
  background-color: var(--global--dark--BackgroundColor);
  display: block;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 90%;
}

/*---------- #MENU ----------*/

#navbar {
  display: none;

  @include breakpoint(tablet) {
    background-color: var(--global--dark--BackgroundColor);
    font-family: var(--global--sans-serif--FontFamily);
    display: block;
    height: 80px;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    width: 90%;
    z-index: 10;
  }
}

.menu_mobile {
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 100%;

  @include breakpoint(tablet) {
    display: none;
  }
}

.menu_mobile--overlay {
  background-color: var(--global--dark--BackgroundColor);
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 10;
}

.menu_mobile-list {
  margin-top: 30px;
  position: relative;
  top: 25%;
  text-align: center;
  transition: all 3s ease;
  width: 100%;
}

.menu_mobile-list-link {
  color: var(--global--link--Color);
  font-size: var(--global--main-title--FontSize);
  line-height: var(--global--lg--LineHeight);
  padding: 8px;
  transition: 0.3s;
}

.mobile_menu-list a:hover,
.mobile_menu-list a:focus {
  color: var(--global--primary--hover--Color);
}

.menu_mobile-closebtn {
  color: var(--global--light--Color);
  font-size: var(--global--hero-title--FontSize);
  position: absolute;
  right: 45px;
  top: 20px;
}

.menu_mobile-navbar {
  background-color: var(--global--dark--BackgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 90%;
  z-index: 8;

  @include breakpoint(tablet) {
    display: none;
  }
}

.menu_mobile-navbar--left {
  //display: block;
  //float: left;
  //margin: 40px 0 0 0;
}

.logo--white {
  width: 150px;
}

.menu_mobile-navbar--right {
  //display: block;
  //position: absolute;
  //right: 0;
}

.menu_mobile-toggler {
  font-size: var(--global--secondary--title-FontSize);
}

.navbar_menu-list {
  @include breakpoint(tablet) {
    float: right;
    margin-top: 40px;
  }
}

.navbar_menu-list--first {
  @include breakpoint(tablet) {
    margin-left: 0;
  }
}

.navbar_menu-list-item {
  @include breakpoint(tablet) {
    display: inline-block;
    margin-left: 32px;
  }
}

.navbar_menu-list-link {
  @include breakpoint(tablet) {
    font-size: var(--global--big--body--FontSize);
    color: var(--global--link--Color);
    font-weight: var(--global--light--FontWeight);
    position: relative;
    transition: all 0.25s cubic-bezier(1, 0, 0.58, 0.97);
  }
}

.navbar_menu-list-link:before {
  @include breakpoint(tablet) {
    background: var(--global--link--hover-Color);
    content: "";
    position: absolute;
    right: 0;
    height: 3px;
    top: calc(50% - 1px);
    transition: inherit;
    width: 0;
  }
}

.navbar_menu-list-link:hover:before {
  @include breakpoint(tablet) {
    left: 0;
    width: 100%;
  }
}

.navbar_menu-list-link:active {
  @include breakpoint(tablet) {
    text-decoration: line-through var(--global--primary--hover--Color);
  }
}

.logo {
  @include breakpoint(tablet) {
    float: left;
    margin-top: 37px;
  }
}

.logo--white {
  @include breakpoint(tablet) {
    width: 200px;
  }
}

/*---------- #WELCOME SECTION ----------*/

#welcome-section {
  top: 0;
  min-height: 55vh;
  margin: 0 auto;
  height: 600px;
  width: 90%;
}

.welcome_text {
  text-align: center;
  position: relative;
  z-index: 6;
}

.welcome-text_h1 {
  color: var(--global--light--Color);
  font-size: var(--global--main-title--FontSize);
  font-weight: var(--global--normal--FontWeight);
  line-height: var(--global--md--LineHeight);
  padding-top: 210px;

  @include breakpoint(tablet) {
    font-size: var(--global--big--hero-title--FontSize);
    font-weight: var(--global--bold--FontWeight);
  }
}

.welcome-text_name {
  color: var(--global--lighter--Color);
}

.welcome-text_h2 {
  font-size: var(--global--sub-title--FontSize);
  font-weight: var(--global--light--FontWeight);
  line-height: var(--global--md--LineHeight);

  @include breakpoint(tablet) {
    font-size: var(--global--main-title--FontSize);
  }
}

.welcome-text_p {
  color: var(--global--lighter--Color);
  font-family: var(--global--sans-serif--paragraph--FontFamily);
  font-size: var(--global--body--FontSize);
  padding-top: 80px;

  @include breakpoint(tablet) {
    line-height: var(--global--md--LineHeight);
  }
}

.welcome-text_link {
  color: var(--global--link--Color);
  font-family: var(--global--sans-serif--FontFamily);
  font-size: var(--global--sub-title--FontSize);
  font-weight: var(--global--light--FontWeight);
  border: 4px solid var(--global--primary--hover--Color);
  border-radius: 2px;
  padding: 12px;
}

.welcome-text_link:hover,
.welcome-text_link:focus {
  color: var(--global--primary--hover--Color);
  border: 4px solid var(--global--link--Color);
}

.welcome_background {
  display: block;
  height: 90vh;
  left: 0;
  position: absolute;
  text-align: center;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.welcome-background_photo-img {
  height: 90%;
  margin: 0 auto;
  animation-name: fadeOut;
  animation-duration: 7s;
  animation-fill-mode: forwards;

  @include breakpoint(tablet) {
    height: 90%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.1;
  }
}

/*---------- #PROFILE SECTION ----------*/

#profile {
  //width: 90%;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  margin-bottom: 0;

  @include breakpoint(tablet) {
    width: 60%;
  }
}

.profile_text-h2 {
  @include text-h2;
}

.profile_text-paragraph--big {
  font-size: var(--global--sub-title--FontSize);
  line-height: var(--global--md--LineHeight);
  padding-top: 40px;
  margin: 0 auto;
  z-index: 4;
}

.profile_text-paragraph {
  font-size: var(--global--body--FontSize);
  line-height: var(--global--md--LineHeight);
  padding-top: 40px;
  margin: 0 auto;
  z-index: 4;
}

.profile_skills {
  margin-top: 80px;

  @include breakpoint(tablet) {
    margin-top: 100px;
  }
}

.profile_skills-list {
  display: flex;
  justify-content: space-around;
}

.profile_text-h3 {
  @include text-h2;

}

.profile_skills-list {
  line-height: var(--global--lg--LineHeight);
  padding-top: var(--global--spacer--lg);
}

#projects {
  //width: 90%;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  margin-bottom: 0;

  @include breakpoint(tablet) {
    width: 60%;
  }
}

.projects_list {
  display: flex;
}

.project-tile {
  align-items: center;
  background: #eaeaea;
  background: linear-gradient(0deg, #010101, #1a1a1a, #333333);
  border: 1px solid rgba(73, 73, 73, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 210px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.project_tile_image {
  max-width: 100%;
  max-height: 100%;
  transition: all 1.5s;
  transition-delay: .5s;

  &:hover {
    transform: scale(1.1);
  }
}

.project-tile_title {
  background: rgba(0, 0, 0, .8);
  color: #fff;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all .9s ease;
  transition-delay: .5s;

  width: 100%;

  &:hover {
    opacity: 1;
    top: 0;
  }

}

.project-tile_title-h3 {
  color: #c80000;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 37px;
  padding: 0px 20px;
  position: relative;
  right: 100%;

  &:hover {
    left: 0;
  }
}

.project-tile_title-p {
  font-size: 1.125em;
  left: 100%;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 10px 20px;
  position: relative;

  &:hover {
    left: 0;
  }
}