// Mixins
@import "_mixins";


/*---------- #PROFILE SECTION ----------*/

#profile {
  //width: 90%;
  //height: 1070px;
  margin: 0 auto 200px auto;
  padding-top: 100px;
  position: relative;

  @include breakpoint(tablet) {
    width: 60%;
    height: 800px;

  }
}

.profile_text-h2 {
  @include text-h2;
}

.profile_text-paragraph--big {
  font-size: var(--global--sub-title--FontSize);
  line-height: var(--global--md--LineHeight);
  padding-top: 40px;
  margin: 0 auto;
  z-index: 4;
}

.profile_text-paragraph {
  font-size: var(--global--body--FontSize);
  line-height: var(--global--md--LineHeight);
  padding-top: 40px;
  margin: 0 auto;
  z-index: 4;
}

.profile_skills {
  margin-top: 80px;

  @include breakpoint(tablet) {
    margin-top: 100px;
  }
}

.profile_skills-list {
  display: flex;
  justify-content: space-around;
}

.profile_text-h3 {
  @include text-h2;
}

.profile_skills-list {
  line-height: var(--global--lg--LineHeight);
  padding-top: var(--global--spacer--lg);
}

/*---------- #PROJECTS SECTION ----------*/

#projects {
  //width: 90%;
  //height: 900px;
  margin: 0 auto 200px auto;
  padding-top: 100px;
  position: relative;

  @include breakpoint(tablet) {
    width: 60%;
  }
}

.projects_list {
  display: flex;
  padding-top: 40px;

}

.project-tile {
  align-items: center;
  background: #eaeaea;
  background: linear-gradient(0deg, #010101, #1a1a1a, #333333);
  border: 1px solid rgba(73, 73, 73, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 210px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.project_tile_image {
  max-width: 100%;
  max-height: 100%;
  transition: all 1.5s;
  transition-delay: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.project-tile_title {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all 0.9s ease;
  transition-delay: 0.5s;

  width: 100%;

  &:hover {
    opacity: 1;
    top: 0;
  }
}

.project_tile_image--empty {
  width: 374px;
  height: 320px;
  transition: all 1.5s;
  transition-delay: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.project-tile_title-h3 {
  color: #c80000;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 37px;
  padding: 0px 20px;
  position: relative;
  right: 100%;

  &:hover {
    left: 0;
  }
}

.project-tile_title-p {
  font-size: 1.125em;
  left: 100%;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 10px 20px;
  position: relative;

  &:hover {
    left: 0;
  }
}



/*---------- #CONTACT SECTION ----------*/


#contact {
  //width: 90%;
  //height: 900px;
  margin: 0 auto 100px auto;
  padding-top: 100px;
  position: relative;
}

.contact_photo {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;

  @include breakpoint(tablet) {
    width: 30%;
    height: 30%;
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    flex-direction: row;
  }

}

.contact_text {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint(tablet) {
    width: 50%;
  }
}

.contact_email {
  border-bottom: var(--global--BorderWidth) solid var(--global--link--Color);
}

.contact_email:hover,
.contact_email:focus {
  border-bottom: var(--global--BorderWidth) solid var(--global--link--hover-Color);
}


.contact_paragraph--space-down {
  padding-top: 40px;
}

.contact_text-paragraph {
  font-size: var(--global--body--FontSize);
  line-height: var(--global--md--LineHeight);
  padding-top: 40px;
  padding-block-end: 40px;
  margin: 0 auto;
  z-index: 4;
}



/*---------- #FOOTER SECTION ----------*/

.footer {
  background-color: var(--global--dark--BackgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
  position: relative;
  //width: 90%;
  z-index: 8;
}

.footer_social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--global--sans-serif--FontFamily);
}

.footer_list {
  margin-left: 32px;
}

.footer_list-link:hover,
.footer_list-link:focus {
  color: var(--global--primary--hover--Color);
}