// Global variables

// 'Josephin Sans' and 'Open Sans' Load font
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');


:root {

    // Color

    //Theme colors
    --global--primary--Color: #fafafa;
    --global--primary--hover--Color: #c80000;

    //--global--danger--Color: #c00;
    //--global--danger--dark--Color: #a30000;

    //--global--warning--Color: #ec7a08;
    //--global--warning--dark--Color: #b35c00;

    // Text color
    --global--dark--Color: #0a0a0a;
    --global--light--Color: #e1e1e1; // $color-text
    --global--lighter--Color: #ffffff; // $color-text

    // Background color
    --global--light--BackgroundColor: #fafafa;
    --global--dark--BackgroundColor: #0a0a0a; //  $color-primary


    // Typography

    // Font family
    --global--sans-serif--paragraph--FontFamily: 'Open Sans',
        -apple-system, "Helvetica Neue", "Trebuchet MS", sans-serif;
    --global--sans-serif--FontFamily: 'Josefin Sans',
        -apple-system, "Helvetica Neue", "Trebuchet MS", sans-serif;

    // Font size
    --global--big--hero-title--FontSize: 4rem; // 48px
    --global--hero-title--FontSize: 3rem; // 48px
    --global--main-title--FontSize: 2rem; // 32
    --global--secondary--title-FontSize: 1.625rem; // 26
    //--global--secondary--title-FontSize: 1.5rem;
    --global--sub-title--FontSize: 1.375rem; // 22
    --global--big--body--FontSize: 1.25rem;
    //--global--body--FontSize: 1rem;
    --global--body--FontSize: 1.125rem; // 18
    //--global--caption--FontSize: 0.8rem;

    // line height
    --global--sm--LineHeight: 1.1;
    --global--md--LineHeight: 1.5;
    //--global--sm--LineHeight: 1.25;
    //--global--md--LineHeight: 1.375;
    --global--lg--LineHeight: 2;

    // Font weight
    --global--light--FontWeight: 300;
    --global--normal--FontWeight: 400;
    --global--bold--FontWeight: 700;


    // Links
    --global--link--Color: var(--global--primary--Color); // branco
    --global--link--TextDecoration: none;
    --global--link--transition: color 0.25 ease;
    --global--link--hover-Color: var(--global--primary--hover--Color); // vermelho
    --global--link--hover--TextDecoration: underline;
    --global--link--focus-Color: var(--global--primary--Color);

    // Borders
    //--global--BorderWidth: 1px;                            
    //--global--dark--BorderColor: #bbb;
    //--global--light--BorderColor: #d1d1d1;                                                                                           

    // spacers
    // https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
    //--global--spacer--xxs: 0.125rem;
    --global--spacer--xxs: 0.625rem;
    //--global--spacer--xs: 0.25rem;
    --global--spacer--xs: 1.25rem;
    //--global--spacer--sm: 0.5rem;
    //--global--spacer--sm: 0.5rem;
    --global--spacer--sm: 1.875rem; // 30
    --global--spacer--md: 1rem;
    //--global--spacer--lg: 2rem;
    --global--spacer--lg: 2.5rem;
    //--global--spacer--xl: 3rem;
    --global--spacer--xl: 3.75rem;



    // Breakpoint
    // http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/
    --global--breakpoint--xs: 0;
    --global--breakpoint--sm: 24em;
    --global--breakpoint--md: 50;
    --global--breakpoint--lg: 50em;
    --global--breakpoint--xl: 73em;

}