@mixin h1 {
    color: var(--color__primary--text--light);
    font-size: var(--font-size--main-title);
    font-weight: var(--fontweight--normal);
    line-height: var(--lineheight--md);
}

@mixin h2 {
    color: var(--color__primary--text--light);
    font-size: var(--font-size--sub-title);
    font-weight: var(--fontweight--light);
    line-height: var(--lineheight--md);
}

@mixin h3 {
    font-size: 1.375em;
    line-height: 1.25;
}

@mixin h4 {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.25;
}

@mixin paragraph {
    font-family: Lato;
    font-size: 1.125em;
    line-height: 1.25;
}

// Breakpoint Variables

$bp-small: 425px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1440px;


@mixin breakpoint($breakpoint) {
    @if $breakpoint==desktop {
        @media (min-width: 1200px) {
            @content ;
        }
    }

    @else if $breakpoint==laptop {
        @media (min-width: 992px) {
            @content ;
        }
    }

    @else if $breakpoint==tablet {
        @media (min-width: 768px) {
            @content ;
        }
    }
}

@mixin text-h2 {
    color: var(--global--lighter--Color);
    font-family: var(--global--sans-serif--FontFamily);
    font-size: var(--global--secondary--title-FontSize);
    text-align: center;
}