// Global variables
@import "_global-variables";

// base and browser reset
@import "_base";

@mixin h1 {
    font-size: 3em;
    /*font-size: 2em;*/
    line-height: 1.25;
}

@mixin h2 {
    font-size: 1.625em;
    font-weight: 600;
    line-height: 1.25;
}

@mixin h3 {
    font-size: 1.375em;
    line-height: 1.25;
}

@mixin h4 {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.25;
}

@mixin paragraph {
    font-family: Lato;
    font-size: 1.125em;
    line-height: 1.25;
}