@import "_reset";

@import "_global-variables";

@import "_mixins";

a {
    cursor: pointer;
    color: var(--link__color);
    text-decoration: var(--link__text-decoration);
    transition: var(--link--transition);
}

body {
    font-family: var(--fontfamily__paragraph--sans-serif);
    font-size: var(--font-size__base);
    font-weight: var(--fontweight--normal);
    line-height: var(--lineheight--sm);
    color: var(--color__primary--text--light);
    background-color: var(--color__primary--dark);
    height: 100%;
    width: 100%;
}

.wrapper {
    background-color: var(--color__primary--dark);
    min-height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 90%;
}

.section_wrapper {
    position: relative;
}

/*---------- #MENU ----------*/

.menu__mobile {
    position: fixed;
    top: 0;
    transition: top 0.3s;
    width: 100%;

    @include breakpoint(tablet) {
        display: none;
    }
}

.menu__mobile--overlay {
    background-color: var(--color__primary--dark);
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 10;
}

.menu__mobile-list {
    text-align: center;
    margin-top: 30px;
    position: relative;
    top: 25%;
    transition: all 3s ease;
    width: 100%;
}

.menu__mobile-list-link {
    color: var(--link__color);
    font-size: var(--font-size--main-title);
    line-height: var(--lineheight--lg);
    padding: 8px;
    transition: 0.3s;

    &:hover,
    &:focus,
    &:active {
        color: var(--link__color--hover);
    }
}

.menu__mobile--closebtn {
    color: var(--color__primary--text--light);
    font-size: var(--font-size--hero-title);
    position: absolute;
    right: 45px;
    top: 20px;
}

.menu__mobile-navbar {
    background-color: var(--color__primary--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    width: 90%;
    z-index: 8;

    @include breakpoint(tablet) {
        display: none;
    }
}

.logo--white {
    width: 150px;

    @include breakpoint(tablet) {
        width: 200px;
    }
}

.menu__mobile--toggler {
    font-size: var(--font-size--secondary-title);
    cursor: pointer;
}

#navbar {
    display: none;

    @include breakpoint(tablet) {
        background-color: var(--color__primary--dark);
        font-family: var(--fontfamily--sans-serif);
        display: block;
        height: 80px;
        width: 90%;
        position: fixed;
        top: 0;
        transition: top 0.3s;
        z-index: 10;
    }
}

.navbar__menu-list {
    @include breakpoint(tablet) {
        float: right;
        margin-top: 40px;
    }
}

.navbar__menu-list--first {
    @include breakpoint(tablet) {
        margin-left: 0;
    }
}

.navbar__menu-list-item {
    @include breakpoint(tablet) {
        display: inline-block;
        margin-left: 32px;
    }
}

.navbar__menu-list-link {
    @include breakpoint(tablet) {
        font-size: var(--global--big--body--FontSize);
        color: var(--link__color);
        font-weight: var(--fontweight--light);
        position: relative;
        transition: all 0.25s cubic-bezier(1, 0, 0.58, 0.97);
    }
}

.navbar__menu-list-link:before {
    @include breakpoint(tablet) {
        background: var(--link__color--hover);
        content: "";
        position: absolute;
        right: 0;
        height: 3px;
        width: 0;
        top: calc(50% - 1px);
        transition: inherit;
    }
}

.navbar__menu-list-link:hover:before {
    @include breakpoint(tablet) {
        left: 0;
        width: 100%;
    }
}

.navbar__menu-list-link:active {
    @include breakpoint(tablet) {
        text-decoration: line-through var(--link__color--hover);
    }
}

.logo {
    @include breakpoint(tablet) {
        float: left;
        margin-top: 37px;
    }
}

/*---------- #WELCOME SECTION ----------*/

.welcome {
    min-height: 55vh;
    margin: 0 auto 150px auto;
    width: 90%;
    position: relative;

    @include breakpoint(desktop) {
        margin-top: 100px;
        margin-bottom: 220px;
    }
}

.welcome__text {
    text-align: center;
    position: relative;
    z-index: 6;
}

.welcome__text--h1 {
    @include h1;
    padding-top: 210px;

    @include breakpoint(tablet) {
        font-size: var(--font-size--big-hero-title);
        font-weight: var(--fontweight--bold);
    }
}

.welcome__text--name {
    color: var(--color__primary--text--light);
}

.welcome__text--h3 {
    @include h3;

    @include breakpoint(tablet) {
        font-size: var(--font-size--main-title);
    }
}

.welcome__text--p {
    color: var(--color__text--lighter);
    font-family: var(--fontfamily__paragraph--sans-serif);
    font-size: var(--font-size--base);
    padding-top: 80px;
    padding-bottom: 20px;

    @include breakpoint(tablet) {
        line-height: var(--lineheight--md);
    }
}

.welcome__text--link {
    @extend .welcome__text--h3;
    border: 4px solid var(--color__primary--hover);
    border-radius: 2px;
    padding: 12px;
}

.welcome__text--link:hover,
.welcome__text--link:focus {
    color: var(--color__primary--hover);
    border: 4px solid var(--link__color);
}

.welcome__background {
    display: block;
    height: 90vh;
    left: 0;
    position: absolute;
    text-align: center;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.welcome__background-photo--img {
    height: 90%;
    margin: 0 auto;
    animation-name: fadeOut;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.1;
    }
}

/*---------- #PROFILE SECTION ----------*/

.profile {
    margin: 0 auto 150px auto;
    position: relative;

    @include breakpoint(tablet) {
        width: 60%;
    }
}

.profile__text--h2 {
    @include h2;
    font-size: var(--font-size--secondary-title);
    text-align: center;
    padding-top: 80px;

    @include breakpoint(tablet) {
        @include h1;
        padding-top: 100px;
    }
}

.profile__text-paragraph--big {
    color: var(--color__text--lighter);
    font-size: var(--font-size--base);
    line-height: var(--lineheight--md);
    padding-top: 40px;
    margin: 0 auto;
    z-index: 4;

    @include breakpoint(tablet) {
        font-size: var(--font-size--sub-title);
        line-height: var(--lineheight--md);
    }
}

.profile__text-paragraph {
    font-size: var(--font-size--base);
    line-height: var(--lineheight--md);
    padding-top: 40px;
    margin: 0 auto;
    z-index: 4;
}

.profile__technical-skills {
    margin-top: 80px;

    @include breakpoint(tablet) {
        margin-top: 100px;
    }
}

.profile__personal-skills {
    margin-top: 80px;

    @include breakpoint(tablet) {
        margin-top: 100px;
    }
}

.profile__skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(tablet) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.profile__skills-list1 {
    line-height: var(--lineheight--lg);
    padding-top: 40px;
}

/*---------- #PROJECTS SECTION ----------*/

.projects {
    margin: 0 auto 150px auto;
    position: relative;

    @include breakpoint(tablet) {
        width: 80%;
    }
}

.projects__text--h2 {
    @include h2;
    text-align: center;
    padding-top: 80px;

    @include breakpoint(tablet) {
        @include h1;
        padding-top: 100px;
    }
}

.projects__list {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
}

.project-title {
    background: linear-gradient(0deg, #010101, #1a1a1a, #333333);

    margin: 20px;
    height: 210px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 1s;
    transition-delay: 0.5s;

    &:hover {
        opacity: 1;
        top: 0;
        transform: scale(1.2);
    }
}

.project-title-image {
    max-width: 100%;
    max-height: 100%;

    &:hover {
        transform: scale(1.1);
    }
}

.project-title-title {
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.6s ease;
    transition-delay: 0.5s;

    &:hover,
    &:focus {
        opacity: 1;
        border: 4px solid rgba(73, 73, 73, 0.8);
    }
}

.project-title-title--h3 {
    color: var(--color__primary--hover);
    font-size: var(--font-size--secondary-title);
    font-weight: var(--fontweight--bold);
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
}

.project-title-title--p {
    color: var(--color__primary--text--light);
    font-size: var(--font-size--base);
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
}

/*---------- #CONTACT SECTION ----------*/

.contact {
    margin: 0 auto 150px auto;
    position: relative;
}

.contact__text--h2 {
    @include h2;
    text-align: center;
    padding-top: 80px;

    @include breakpoint(tablet) {
        @include h1;
        padding-top: 100px;
    }
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    @include breakpoint(tablet) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.contact__photo {
    width: 100%;
    padding-top: 40px;

    @include breakpoint(tablet) {
        padding-right: 20px;
        width: 50%;
        height: 50%;
    }

    @include breakpoint(laptop) {
        padding-right: 20px;
        width: 40%;
        height: 40%;
    }

    @include breakpoint(desktop) {
        width: 30%;
        height: 30%;
    }
}

.contact__text {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint(tablet) {
        padding-left: 80px;
        width: 40%;
    }
}

.contact__email {
    border-bottom: 4px solid var(--link__color);

    &:hover,
    &:focus {
        border-bottom: 4px solid var(--link__color--hover);
    }
}

.contact__text--main-paragraph {
    font-size: var(--font-size--base);
    line-height: var(--lineheight--md);
    padding-bottom: 40px;
    margin: 0 auto;
    z-index: 4;
}

.contact__text--paragraph {
    font-size: var(--font-size--base);
    line-height: var(--lineheight--lg);
}

.contact__text--paragraph-space-bottom {
    color: var(--color__text--lighter);
    padding-bottom: 40px;
}

.contact__text--paragraph--border-bottom {
    border-bottom: 4px solid var(--link__color);

    &:hover,
    &:focus {
        border-bottom: 4px solid var(--link__color--hover);
    }
}

/*---------- #FOOTER SECTION ----------*/

.footer {
    background-color: var(---color__primary--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
    position: relative;
    z-index: 8;

    @include breakpoint(mobile) {
        justify-content: space-between;
    }
}

.footer__email {
    display: none;

    @include breakpoint(mobile) {
        display: block;
        color: var(--color__text--lighter);
    }
}

.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fontfamily--sans-serif);
}

.footer__social--list-link {
    margin-left: 32px;
    color: var(--color__text--lighter);

    &:hover,
    &:focus {
        color: var(--color__primary--hover);
    }
}

.no-margin {
    margin-left: 0;

    @include breakpoint(mobile) {
        margin-left: 32px;
    }
}