$mainFont: #fafafa;
$mainBackground: #313131;
$anchorColor: #fff;
$anchorHover: #bbb8b8;

@import url(https://fonts.googleapis.com/css?family=Lato);

@mixin displayFlex {
  display: flex;
  flex-direction: column;
}

@mixin backgroundImg {
  background: rgba(248, 248, 248, 0.9);
  border-radius: 5px;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
blockquote,
a,
cite,
em,
img,
ul,
li,
caption,
figure,
figcaption,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  background: $mainBackground;
  color: $mainFont;
  font-family: Lato, sans-serif;
  @include displayFlex;
}

.img-div {
  @include backgroundImg;
  @include displayFlex;
  margin: 20px;
  text-align: center;

  &__title {
    @include displayFlex;
    align-items: center;
  }

  &__lg-heading {
    color: $mainBackground;
    /*font-size: 2.875rem;*/
    font-size: 8rem;
    font-weight: 900;
    padding: 20px 10px;
    align-self: center;
  }

  &__md-heading {
    color: $mainBackground;
    font-size: 1.5rem;
    padding: 0 10px 20px 10px;
    align-self: center;
  }

  &__figure {
    @include displayFlex;
    align-items: center;
  }

  &__src {
    @include backgroundImg;
    align-self: center;
    max-width: 90%;
  }

  &__caption {
    color: $mainBackground;
    font-size: 1rem;
    padding: 20px;
    align-self: center;
  }
}

.tribute-info {
  @include displayFlex;
  align-items: center;
  margin: 60px 10px;
  line-height: 1.6;

  &__list {
    @include displayFlex;
    line-height: 1.8;
    list-style-type: none;
    max-width: 700px;
  }

  &__sm-heading {
    font-size: 1.25rem;
    padding-bottom: 10px;
  }

  &__list-paragraph {
    font-size: 1.125rem;
  }

  span:first-of-type {
    font-weight: bold;
  }
}

.anchor {
  color: $anchorColor;
  text-decoration: none;
  font-style: italic;

  :hover {
    color: $anchorHover;
    font-style: normal;
  }
}

.long-blockquote {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.6;
  margin: 40px 10px 20px 10px;
  max-width: 550px;
  align-self: center;

  &__paragraph::before {
    content: "\201C";
  }

  &__paragraph::after {
    content: "\201D";
  }
}

.cite {
  font-size: 1rem;
  margin-left: 10px;
  align-self: center;
}

.lead {
  font-size: 1.125rem;
  margin: 60px 10px 20px 10px;
  max-width: 700px;
  align-self: center;
}

.footer {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 1rem;
  align-self: center;
}