$backgroundColor: #f2f2f2;
$fontColor: #1a1a1a;
$borderColor: rgba(115, 115, 115, 0.6);
$sectionLinkColor: #002db3;
$sectionLinkHover: #668cff;
$codeColor: rgba(0, 0, 0, 0.1);
$break-small: 480px;

@import url("https://fonts.googleapis.com/css?family=Nunito|Open+Sans");

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Open+Sans", sans-serif;
  color: $fontColor;
  line-height: 1.8;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
}

header {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  margin: 20px 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

#main-doc {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-top: 50px;
  height: 100vh;
  background-color: $backgroundColor;
  border-right: 2px solid $borderColor;

  @media screen and (max-width: $break-small) {
    text-align: center;
    padding-top: 80px;
    width: 100%;
    height: 60vh;
    border-right: none;
  }
}

.nav-header {
  padding: 0 20px;
}

.nav-link {
  color: $fontColor;
  padding: 10px 30px;
  border-top: 1px solid $borderColor;

  &:hover {
    background: $borderColor;
  }

  &:active {
    background: $sectionLinkHover;
  }
}

.nav-link--border-bottom {
  border-bottom: 1px solid $borderColor;
}

#sections {
  align-items: center;
  padding: 50px 10px 50px 70px;
  margin-left: 250px;
  flex: 1 1 auto;

  @media screen and (max-width: $break-small) {

    margin: 0 auto;
    align-self: center;
    padding: 520px 10px 0 10px;
  }
}

.main-section__list {
  margin: 20px 50px 20px 50px;

  @media screen and (max-width: $break-small) {
    margin: 0 auto;
    margin: 20px;
  }
}

.section-link {
  color: $sectionLinkColor;

  &:hover {
    color: $sectionLinkHover;
  }
}

code {
  display: block;
  background: $codeColor;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 10px;
  max-width: 500px;
  margin: 30px 0 30px 70px;
}

img {
  display: block;
  width: 55%;
  margin: 60px auto;

  @media screen and (max-width: $break-small) {
    width: 70%;
  }
}

.h-rule {
  margin: 50px 0;
}